@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');



.wrapper {
    text-align: center;
    background-image: url(img/3.jpg);
    background-size: cover; 
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    color: aliceblue;
}

.Form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
}
.title{
    color: aliceblue;
}
